<div
	class="p-24 flex aic jcc fd-column bg-black transition-all gap-lg txt-dark bb-1 bb-gray solid">
	<div class="round-100 transition-all w-full h-36">
		<a class="w-inherit h-inherit flex aic jcc" href="/">Home</a>
	</div>
	<div class="round-100 transition-all w-full h-36">
		<a class="w-inherit h-inherit flex aic jcc" href="/tools">Tools</a>
	</div>
	<div class="round-100 transition-all w-full h-36">
		<a class="w-inherit h-inherit flex aic jcc" href="/extensions"
			>Extensions</a
		>
	</div>
	<div class="round-100 transition-all w-full h-36">
		<a class="w-inherit h-inherit flex aic jcc" href="/blogs">Blogs</a>
	</div>
	<div class="round-100 transition-all w-full h-36">
		<a class="block h-inherit flex aic jcc" href="/about">About Me</a>
	</div>
	<div class="round-100 transition-all w-full h-36">
		<a class="block h-inherit flex aic jcc" href="/portfolio">Portfolio</a>
	</div>
	<div class="round-100 transition-all w-full h-36">
		<a class="block h-inherit flex aic jcc" href="/privacy">Privacy Policy</a>
	</div>
	<div class="round-100 transition-all w-full h-36">
		<a class="block h-inherit flex aic jcc" href="/disclaimer">Disclaimer</a>
	</div>
	<!-- <div class="round-100 transition-all w-full h-36 bg-blue">
		<a class="w-inherit h-inherit flex aic jcc" href="/">Contact</a>
	</div> -->
</div>
<div class="bg-black w-full h-fc transition-all gap-lg txt-dark p-lg flex aic jcc">
    <a class="fw-300" href="/">GetProjects</a>
</div>